<!DOCTYPE html>
<html lang="ru-ru">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Менеджер задач Hexlet</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load i18n %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">{{ nav_app_name }}</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggleExternalContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class= "nav-link" href="/users/">{{ nav_users }}</a>
          </li>
          <li class="nav-item">
            <a class= "nav-link" href="/login/">{{ nav_log_in }}</a>
          </li>
          <li class="nav-item">
            <a class= "nav-link" href="/users/create/">{{ nav_sign_in }}</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container wrapper flex-grow-1">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>